<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Meals</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">  
<style>
            .wrapper {
                padding-top: 40px;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 20px;
                font-family:"Menlo-Regular";
                font-size:0.9em;
            }
        </style>
  
</head>

<body>
    <div class="wrapper">
        <div class="pure-g">
{% for item in meal_list %}
            <div class="pure-u-sm-1-5 pure-u-1-5">
                {{item.day}}: {{item.meal}}
            </div>
{% endfor %}
        </div>
    </div>
</body>
</html>